/* Styles de la page de connexion */

body {
    background-color: #f2f6fc; /* Couleur de fond */
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff; /* Couleur de fond de la boîte de connexion */
    max-width: 30%;
    margin: 10% auto;
    height: 20%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Ombre légère */
}

h2 {
    text-align: center;
    color: #105e91; /* Couleur du titre */
}


.form-control {
    margin-bottom: 5%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333; /* Couleur des libellés */
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 3%;
    border: 1px solid #cccccc; /* Couleur de la bordure */
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 3%;
    background-color: #105e91; /* Couleur du bouton */
    border: none;
    border-radius: 5px;
    color: #ffffff; /* Couleur du texte du bouton */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #08446b; /* Couleur du bouton au survol */
}

#error-message {
    color: blue;
}

.register-link {
    color: #0066cc; /* Bleu vif */
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

