/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* justifier le texte en centrer */
    align-items: center; /* mettre tous les elements au centre de la page */
    height: 100vh;
    overflow-y: hidden;
}


/* Definition de l'animation des messages */
/*Effet de zoom lors de l'affichage des messages*/
@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Styles de l'entête */

.header{
    height: 10%; /* Définit la hauteur de l'entête */
    width: 100%;
}

// logo inet
.header img {
    display: none;
    position: absolute; /* ou relative, selon vos besoins */
    top: 0.5%; /* Position verticale */
    left: 0.5%; /* Position horizontale */
    scale: 0.1;
    z-index: 1; /* Pour placer l'image au-dessus des elements de la page */
}

// Text cloudbank
.two{
    margin-top: 5%;
}

/* Styles du titre */
h1{
    color: red;
    text-align: center;
    font-family: "Eras Bold ITC";
    font-size: 180%;
}

/* Styles du contenu principal */
.main-part {
    display: flex;
    background-color: #f2f2f2; /* gris clair */
    height: 90%;
}

/* partie gerant les fichiers de la doc */
.second-part {
    display: flex;
    flex-direction: column;
    background-color: #e7e7f1;
    width: 50%;
    height: 100%; /* occupe 100% de son bloc de la page */
    /*background-color: #ffffff;  blanc */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);  ombre légère */
}

/* Titre section fichier a previsualiser */
.second-part h3{
    color: #08446b;
    text-align: center;
    padding-right: 10%;
}

/* Fichiers a previsualiser */
.third-part{
    display: flex;
    height: 30%;
    width: 90%;
    overflow: auto;
    margin: 0% 5% 0% 5%;
}

.third-part div {
    margin-left: 5%;
}

/* Images de ces fichiers */
.third-part img{
    width: 130%;
    cursor: pointer;
}


/* Styles du box du iframe */
.preview {
    width: 98%;
    height: 90%;
    margin: 10px;
    margin-bottom: 3%;
}

/* Style du iframe */
.pdfViewer {
    width: 97.5%;
    height: 100%;
}

/* Styles pour le conteneur du chat */
.chat-container {
    width: 50%;
    height: 100%;
    max-height: 240px;
    float: right;
}

/* Styles pour le conteneur des messages du chat */
.chat-messages-container {
    width: 90%;
    /* border-bottom: 1px solid #cccccc;  gris clair */
    overflow-y: auto;
    height: 200%; /* Hauteur ajustée pour les messages (60px pour le formulaire) */
    margin-left: 5%;
    margin-bottom: 5px;
}

/* Styles pour les messages du chat */
.message-user, .message-cloudbank {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    clear: both; /* comportement d'un element au milieu des flottants, l'empechant d'etre
    a gauche ou a droite des flotteurs */
    overflow-wrap: break-word;
    animation: zoomIn 1s ease-in-out;
}

.message-user {
    background-color: #08446b; /* bleu clair */
    color: white;
    float: right;
}

.message-cloudbank {
    background-color: white; /* blanc */
    color: #08446b;
    float: left;
}

/* Styles pour l'entête du message */
.message-header {
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px black solid;
}

/* Properties of the options section */
.options {
    display: flex;
}

/* Styles pour le formulaire */
form {
    display: flex;
    margin-left: 3%;
    width: 100%;
}

/* Styles pour le champ de saisie du chat */

.chat-input {
    width: 485px; /* largeur ajustée */
    padding: 8px 8% 8px 8px;
    border: 1px solid #cccccc; /* gris clair */
    border-radius: 10px;
    font-size: 14px;
    margin-right: 2px;
    margin-left: 10px;

    position: absolute;
    height: 15px; /* Hauteur minimale de départ */
    resize: none; /* Empêche le redimensionnement manuel */
    overflow-y: hidden; /* Cache les barres de défilement verticales */
    bottom: 2.9%;
}

/* Styles pour le bouton d'envoi du chat */
.chat-submit-button {
    border: 0px;
    background-color: #f2f2f2;
    cursor: pointer;
}

/* properties of the image */
.loading {
     position: absolute; /* ou relative, selon vos besoins */
     top: 55%; /* Position verticale */
     right: 15%; /* Position horizontale */
     scale: 0.3;
     z-index: 1; /* Pour placer l'image au-dessus du formulaire si nécessaire */
}

/* properties of the reset button */
.chat-reset-button {
    border: 0px;
    background-color: #f2f2f2;
    cursor: pointer;
}

/* Image du bouton envoyer */
.send{
    position: absolute;
    scale: 0.2;
    bottom: -46%;
    right: -24%;
}

/* Image du bouton reinitialiser */
.reset{
    position: absolute;
    scale: 0.1;
    bottom: -45%;
    right: -28%;
}


